<header class="bg-white sticky-top ">
  <div class="container">
    <nav class="navbar navbar-expand-md px-0 py-0 bg-none d-flex">
      <a class="navbar-brand logo mr-0" href="index.html">PETPET</a>
      <button class="navbar-toggler px-0 py-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-icons text-primary text-4xl font-weight-bold mb-0 py-0">menu</span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav d-block d-md-none">
          <a class="nav-link" href="service.html">預約服務</a>
          <a class="nav-link ml-md-13" href="#">成為寵物保姆</a>
          <a class="nav-link ml-md-13" href="login.html">登入</a>
        </div>
      </div>

      <div class="collapse navbar-collapse align-self-end align-self-center" >
        <div class="navbar-nav ml-auto">
          <a class="nav-link" href="service.html">預約服務</a>
          <a class="nav-link ml-md-13" href="#">成為寵物保姆</a>
          <a class="nav-link ml-md-13" href="login.html">登入</a>
        </div>
      </div>
    </nav>
  </div>
</header>