<section class="bg-primary py-12">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-6">
                <p class="text-xl text-md-4xl font-weight-bold text-dark mb-3">有任何我們能幫助您的嗎？</p>
                <label for="sendmail" class="text-base text-md-lg text-dark mb-5">
                    輸入電子信箱<br>
                    將有專業人員在線幫您解決所有問題
                </label>

                <div class="input-group">
                    <input id="sendmail" type="text" class="form-control py-5" placeholder="example@gmail.com"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-14 px-md-17" type="button" id="button-addon2">送出</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>