body{
	max-width: 1280px;
	margin: 0 auto;
}

h1 ,h2, h3, h4, h5, h6, p{color: $dark;}

* , *::before, *::after {
	box-sizing: border-box;
}

input:focus::placeholder {
	color: transparent;
}

img {
    width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

a{
	text-decoration: none;
	&:hover{text-decoration: none;}
}

li{list-style:none;}

p, ul{margin-bottom: 0;}

.border-l-2{
	height: 120px;
	border-left: 2px solid #ffffff;

	@include media-breakpoint-up(md) {
        height: 212px;
    }
}

.mobile-none{
	display: none;
	
	@include media-breakpoint-up(md) {
		display: block;
	}
}

