.border-l-2{
	height: 120px;
	border-left: 2px solid #ffffff;

	@include media-breakpoint-up(md) {
        height: 212px;
    }
}

.border-5-white{border: 5px solid #ffffff;}

.border-b-secondary{border-bottom: 1px solid #D54100;}

.logo-icon{
    width: 40px;
    height: 40px;
    display: inline;
}

.fixed{
    position: fixed;
    top: 144px;
    z-index: -10;
}


// Height

.h-120{
	height: 120px;
    overflow: hidden;
}

.h-121{height: 121px;}

.h-128{
	height: 128px;
    overflow: hidden;
}

.h-132{
	height: 132px;
    overflow: hidden;
}

// Width

.w-32{width: 32%;}
.w-28{width: 27.7%;}
.w-25{width: 24.4%;}
.w-16{width: 15.7%;}
// group 裡每個項目的百分比都輸入後整體才會顯示


// color

.bg-lightgray{background-color: #FAFAFA;}