// border

.border-l-2{
	height: 120px;
	border-left: 2px solid #ffffff;

	@include media-breakpoint-up(md) {
        height: 212px;
    }
}

.border-5-white{border: 5px solid #ffffff;}

.border-3-secondary{border: 3px solid $secondary;}

.border-b-secondary{
    @include media-breakpoint-up(md) {
		border-bottom: 1px solid $secondary;
	}
}

.border-b-gray{border-bottom: 1px solid rgba(0, 0, 0, 0.15);}

.border-radius-b{border-radius: 0 0 4px 4px;}

.border-t-2{border-top: 2px solid $secondary;}


// Height


.min-vh-100 {
    min-height: calc(100vh - 64px);
}

.h-120{
	height: 120px;
    overflow: hidden;
}

.h-121{height: 121px;}

.h-128{
	height: 128px;
    overflow: hidden;
}

.h-132{
	height: 132px;
    overflow: hidden;
}

.h-735{
    height: auto;

    @include media-breakpoint-up(md) {
        height: 735px;
    }
}



// Width

.w-32{width: 32%;}
.w-28{width: 27.7%;}
.w-25{width: 24.4%;}
.w-16{width: 15.7%;}
// group 裡每個項目的百分比都輸入後整體才會顯示



// color

.bg-lightgray{background-color: #FAFAFA;}


// other

.position-fixed{
    // 注意容器高度
    position: fixed;
}

.z-index-1{z-index: 100;}
// 容器同時要設定 position:relative，物件才會壓在上面