.modal-dialog{
    margin: 0 auto;
}

.modal-content{
    background-color: #FAFAFA;
    margin: 0px auto;
    width: 345px;
    height: 700px;
    padding: 20px 24px;

    @include media-breakpoint-up(md) {
        width: 690px;
        height: 839px;
        padding: 60px 60px 48px 60px;
        margin: 20px auto;
    }

    @include media-breakpoint-up(xl) {
        width: 920px;
        height: 580px;
	}
}

.dot{
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);

    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $secondary;
}

.cube{
    border-radius: 4px;
    width: 72px;
    height: 72px;

    @include media-breakpoint-up(md) {
        width: 128px;
        height: 128px;
    }
}