@each $breakpoint in map-keys($grid-breakpoints) {
    @each $size, $value in $font-size {
      @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
     
          .text#{$infix}-#{$size} {
             font-size: $value !important;
           }
        
        }
    }
}

body, h1 ,h2, h3, h4, h5, h6, p, a, button{
  font-family: 'Noto Sans TC', sans-serif;
}

input, select{
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}

.font-weight-medium{font-weight: 500;}

