.banner{
    height: 812px;
    background-image: url('../images/index-9.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include media-breakpoint-up(md) {
        height: 584px;
    }
}