.pet-bg-img{
    background: url('../images/index-1.png') no-repeat center center/cover;
    position: absolute;
    width: 43%;
}

.pet-img{
    height: 352px;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
        width: 210px;
        height: auto;
        margin: 0 auto;
	}
}

.dog-img{
    height: 315px;
    overflow: hidden;
}

.person-img-95{
    width: 95px;
    height: 95px;
}

.person-img-100{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ffffff;

    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    // 讓圖片自適應容器寬度保持水平置中
}

.homestay-img{
    border-radius: 4px;
    width: 100px;
    height: 100px;

    @include media-breakpoint-up(md) {
        width: 150px;
        height: 150px;
    }

    @include media-breakpoint-up(xl) {
        width: 282px;
        height: 282px;
	}
}