.pet-bg-img{
    background-image: url('../images/index-1.png');
    background-repeat: no-repeat;
    
    height: 736px;
}

.pet-img{
    height: 352px;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
        width: 210px;
        height: auto;
        margin: 0 auto;
	}
}

.dog-img{
    height: 315px;
    overflow: hidden;
}

.person-img-100{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ffffff;

    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -50px; // 圖片的 50% 寬度
    // 讓圖片自適應容器寬度保持水平置中
}