.swiper-container {
    height: 440px;
    width: auto;
    border-radius: 4px;
}

.swiper{
    margin-bottom: 188px;

    img{
        width: 96px;
        height: 96px;
        border-radius: 4px;
    }
}